
.App {
  text-align: center;
  background-color: '#FFEBEE';
}


.title{
  text-align: center;
  font-size:xx-large;
  font-weight: 700;
  text-decoration: underline;
  padding-top: 30px;

}

.subtitle{
  text-align: center;
  padding-top: 15px;
  font-weight: 500;
}

.video-name{
  font-size: medium;
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
}

.video-upload {
  text-align: center;
  padding-top: 30px;
}

.video-container {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  border: 3px solid black;
  text-align: center;
  overflow: hidden;
  position: relative; 
}

.video-js {
  width: 100%;
  height: auto;
}

.video-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wavebox {
  text-align: center;
}

.audio-text{
  font-size: medium;
  font-weight: 700;
  margin-top: 20px;
  text-decoration: underline;
}

.audio-upload{
  align-content: center;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.metadata-box {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  background-color: #f9f9f9;
  position: absolute; 
  top: 50;
  right: 0;
}

#waveform {
  width: 100%;
  height: 100px; 
  background-color: #000;
  margin-top: 20px; 
}



